<!DOCTYPE html>
<html>

<head>
    <title>Générateur de positions de thèses</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: "CartaNovaTexte-Regular";
            src: url("{{ url_for('static', filename='CartaNovaTexte-Regular.ttf') }}");
        }
        
        body {
            font-family: 'CartaNovaTexte-Regular' !important;
            font-size: 1.25em;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-light navbar-expand bg-light py-3 border-bottom">
        <div class="container">
            <a class="navbar-brand fs-3" href="/">Chartabia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5" aria-current="page" href="/doc">
							Documentation
						</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <br>
      <h1>
        Retour critique
      </h1>

      <p>
        Vous découvrirez dans cet article les arcanes du Chartabia.
      </p>

      <h2>La génération automatique de noms</h2>
      
      <p>
        Ce générateur fonctionne sur le principe des chaînes de Markov,
        qui est une méthode basée sur les statistiques pour faire de la génération aléatoire.
        Avec cette méthode, on considère que certaines successions de lettres sont plus probables que d'autres.
        Par exemple, dans la langue française, après la lettre Q on retrouve presque toujours la lettre U.
      </p>

      <p>
        Notre méthode génère donc les noms des chartistes lettre à lettre en respectant les probabilités
        relatives des successions données.
        Cette carte de chaleur donne la matrice de probabilité de chacune des successions.
        On peut la lire de cette manière : sachant qu'on a tiré la lettre représentée sur l'ordonnée,
        quelle est la probabilité pour qu'on tire la lettre représentée sur l'abscisse ?
        Plus la couleur de la cellule est chaude, plus la probabilité est élevée.
      </p>

      <img width="1000" src="{{ url_for('static', filename='heatMapProb1.png') }}"/>

      <p>
        Pour comparaison, voici la matrice obtenue à partir des mots du dictionnaire français du projet Gutenberg :
      </p>

      <img width="500" src="{{ url_for('static', filename='matrix_gutenberg.png') }}"/>

      <p>
        A noter que cette représentation ne montre que les fréquences d'occurrence de bigrammes, c'est-à-dire
        de couple de caractères. Cependant, notre modèle de chaîne de Markov fonctionne sur des trigrammes,
        c'est-à-dire sur des triplets de caractères, ce qui permet d'améliorer sensiblement la qualité des
        noms générés.
      </p>

      <p>Si vous voulez creuser le sujet un peu plus, nous vous conseillons cette vidéo :</p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/YsR7r2378j0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <h2>La génération automatique de visages</h2>
      
      <p>
        Nous avons souhaité générer automatiquement et aléatoirement des visages de chartistes
        grâce à une intelligence artificielle de type GAN.
        Un GAN (pour <i>generative adversarial network</i> ou réseau antagoniste génératif), fonctionne
        comme un jeu interne où l'algorithme essaie de créer des images, et un autre algorithme devine
        si cette image est réelle ou non.
      </p>
      
      <p>
        Pour cela, nous avons initialement récupéré toutes les images issues du corpus iconographique
        ainsi que les photos de classe. Chaque visage de ces photos a été prélevée dans les photos de classe
        afin de limiter le bruit qui aurait réduit la qualité des images générées.
        Nous avons utilisé des filtres pseudo-Haar implémentés dans la librairie OpenCV de Python.
      </p>

      <p>
        Pour rendre à César ce qui est à César, voici notre inspiration:
        <a href="https://www.thispersondoesnotexist.com/">thispersondoesnotexist.com</a>.
      </p>

      <h2>La génération automatique de positions de thèse</h2>

      <p>
        Il a fallu intialiement créer un corpus adapté.
        Pour cela, nous avons réuni en un seul fichier l'intégralité des positions de thèse auxquelles
        nous avons retiré l'encodage TEI.
        L'ensemble a été réuni dans un fichier TXT.
        Il a fallu nettoyer en profondeur ce corpus : retirer les mots non signifiants et structurants
        (par exemple : "Chap. 1"), harmoniser et nettoyer le surperflu, etc.
      </p>
      
      <p>
        L'entraînement a été réalisé avec la librairie PyTorch en utilisant un réseau de type récurrent
        (RNN, ou <i>recurrent neural network</i>) avec LSTM (pour <i>long short term memory</i>)
        afin d'apprendre à refaire de nouvelles phrases.
      </p>
      
      <p>
        Le résultat est ici peu concluant car le corpus possède quelques complexités :
        les phrases sont très longues et le corpus très lourd,
        ce qui a ralentit l'apprentissage.
        Dans un souci de rapidité, le réseau de neurones ne retient seulement que les 2 mots précédents
        et les 2 mots suivants.
        Or, les phrases faisaient souvent plus de 5 mots, et l'algorithme a eu des difficultés
        à apprendre. Nous n'avons entraîné le modèle "que" 4 heures.
        Un entraînement plus long aurait été appréciable.
      </p>
      
      <h2>Quelques visualisations sur nos données</h2>

      <p>
        Le travail sur les positions de thèses ne se limite pas à cela.
        Faute de temps, nous n'avons pas pu développer les aspects liés à l'étude des données textuelles.
        Nos esprits fourmillaient pourtout d'idées en tous genres : frise chronologique permettant de
        visualiser l'évolution des thèmes des thèses dans le temps, words embeddings permettant d'étudier
        l'évolution sémantique des termes, etc.
      </p>

      <h2>Quelques visualisations sur nos données</h2>

      <h3>Topic modelling</h3>

      <img src="{{ url_for('static', filename='TMViz1.png') }}" width="500" />
      
      <p>
        Le topic modelling consiste à extraire les thèmes principaux d'une collection de documents.
        Les modèles associent un certain nombre de termes à des topics prédeterminés.
        Ici, quatre modèles ont été définis.
        Le topic modelling a été appliqué sur les titres des positions de thèses.
        Il s'agit d'une version bêta, pas nettoyée complètement.
      </p>

      <h3> Nuage de mots</h3>

      <iframe style='width: 615px; height: 489px;' src='https://voyant-tools.org/tool/Cirrus/?corpus=36ba3e37361fad79a8bcc280398ad06a'></iframe>
      
      <p>
        D'autres visualisations assez basiques sont possibles, comme des graphiques présentant les
        fréquences des mots, des nuages de  mots. Il est possible de générer ces visualisations avec un
        outil en ligne comme Voyant Tools.
        Ces graphiques sont intéressants pour avoir une aperçu général des textes.
        Par exemple, à l'intérieur des positions de thèse, le mot le plus utilisé est le mot "siècle",
        ce qui correspond bien à la thématique historienne de l'École ; on observe également une présence
        forte des lexèmes dénommant ces siècles.
      </p>

    </div>

</body>

</html>